body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    text-align: center;
}

.message {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

.center-button {
    padding: 20px 40px;
    font-size: 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button1 {
    background-color: #2875c9;
}

.button1:hover {
    background-color: #2875c9;
}

.button2 {
    background-color: #c73434;
}

.button2:hover {
    background-color: #c73434;
}
.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}